@import url(./themes/light.scss);
@import url(./themes/dark.scss);
@import url(./initialization.scss);
@import url(./font.scss);
@import url(./globe/index.scss);
:root{
	--header-height:60px;
	--sideBar-width: 270px;
	--post-item-font-size:20px;
	--news-item-font-size:12px;
}
@media ((max-width:1120px)) {
	*{
		--sideBar-width: 200px;
	}
	
}
html{
	height: 100vh;
	width: 100vw;
	margin-right: calc(100% - 100vw);
	overflow-x: hidden;
	overflow-y: overlay;
}
body {
	background-color: var(--background-color);
	color: var(--text-color);
	transition: background-color 0.3s, color 0.3s;
	overflow-y: overlay;
}